# Script to establish availability of node.js Hello World endpoint

[Unit]
Description=Hello World (Node.js App)
# Service has to start after system startup (no GUI required)
After=multi-user.target
Wants=network.target

[Service]
WorkingDirectory=/www/nodejs_app_hello_world/
ExecStart=/usr/bin/node index.js
Type=simple
Restart=always

#Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=hwnodejs

[Install]
WantedBy=multi-user.target